* {
  box-sizing: border-box;
}

body {
  background-color: #4CD4CB;
}

.splash-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-logo {
  width: 45%;
}

.splash-buttons {
  display: flex;
  width: 75%;
  justify-content: space-around;
}

.splash-button {
  width: 35vw;
  height: 50px;
  font-size: 25px;
  background-color: #A0C0FF;
  border: 2px solid #020202;
  border-radius: 5px;
}

.splash-button:hover {
  background-color: #688BCE;
}
